
@{
    ViewBag.Title = "Index";
}

<div style="background:rgb(51,122,183) !important" class="jumbotron">
    <h1><font color="white">Lojack Prueba ABM</font></h1>
    <p>
        <font color="white">
            Esta página web permite operaciones de <mark>Alta, Baja y Modificación</mark> de
            la base de datos de pruebas provista por LoJack.
        </font>
    </p>
</div>
