
@{
    ViewBag.Title = "Index";
}

<div style="background:rgb(0, 0, 0) !important" class="jumbotron">
    <h1>
        <font color="white">LO</font><font color="red"><i class="glyphicon glyphicon-flash"></i></font><font color="white">JACK Prueba ABM</font>
    </h1>
    <p>
        <font color="red">
            Esta página web permite operaciones de <mark>Alta, Baja y Modificación</mark> de
            la base de datos de pruebas provista por <font color="white">LO</font><font color="red"><i class="glyphicon glyphicon-flash"></i></font><font color="white">JACK</font> .
        </font>
    </p>
</div>
