<!DOCTYPE html>

<html>
<head>
    <title>ABM Lojack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home/Index"><font size="6">ABM Lojack</font></a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index"><font size="5">Inicio</font></a></li>
                    <li><a href="/Equipo"><font size="5">Equipos</font></a></li>
                    <li><a href="/Entidad"><font size="5">Entidades</font></a></li>
                </ul>
            </div>
        </nav>
        @RenderBody()
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Geosystems S.A.</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
